/* FONTS */
@font-face {
  font-family: 'Space Grotesk';
  src: url('../fonts/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
}

/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* CUSTOM PROPERTIES */

:root {
  /* Colors */
  --clr-primary: rgb(78, 225, 160);
  --clr-bg-dark: rgb(21, 21, 21);
  --clr-bg-semidark: rgb(36, 36, 36);
  --clr-text-light: rgb(255, 255, 255);
  --clr-text-semilight: rgb(217, 217, 217);
  --clr-warning: rgb(255, 111, 91);

  /* Fonts */
  --ft-family: 'Space Grotesk', sans-serif;
  --fs-xl: 2.5rem;
  --fs-l: 2rem;
  --fs-m: 1.5rem;
  --fs-reg: 1rem;

  --letter-spacing-xl: -2.5px;
  --letter-spacing-l: -1.5px;

  --line-height-xl: 2.5rem;
  --line-height-l: 2.5rem;
  --line-height-m: 2rem;
  --line-height-reg: 1.625rem;

  /* Padding and margins */
  --section-padding: 1rem;
}

@media screen and (min-width: 768px) {
  :root {
    --fs-xl: 4.5rem;
    --fs-l: 3rem;
    --fs-m: 2rem;
    --fs-reg: 1.125rem;

    --line-height-xl: 4.5rem;
    --line-height-l: 3.5rem;
    --line-height-m: 2rem;
    --line-height-reg: 1.75rem;

    --section-padding: 1.875rem;
  }
}

@media screen and (min-width: 1150px) {
  :root {
    --fs-xl: 5.5rem;
    --line-height-xl: 5.5rem;
  }
}

/* GENERAL */

body {
  background-color: var(--clr-bg-dark);

  font-family: var(--ft-family);
  color: var(--clr-text-light);
}

header,
main,
footer {
  padding: 0 var(--section-padding);
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.contact-link {
  display: inline-block;
  color: var(--clr-text-light);
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.625rem;
  letter-spacing: 2.3px;
  text-decoration: none;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid var(--clr-primary);
}

.contact-link:hover {
  color: var(--clr-primary);
}

/* HEADER */

.header {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 1rem var(--section-padding);
}

.header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.header__title {
  font-size: var(--fs-m);
  line-height: var(--line-height-m);
}

.socials__list {
  display: flex;
  gap: 1.5rem;

  list-style: none;
}

@media screen and (min-width: 768px) {
  .header__container {
    flex-direction: row;
    justify-content: space-between;

    padding-right: var(--section-padding);
  }
}

/* INTRO SECTION */

.intro__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid white;
}

.intro__profile-img {
  margin-bottom: 2rem;
}

.intro__text {
  max-width: 21.4rem;
  text-align: center;
}

.intro__heading {
  margin-bottom: 2rem;

  font-size: var(--fs-xl);
  letter-spacing: var(--letter-spacing-xl);
  line-height: var(--line-height-xl);
}

.intro__heading br {
  display: none;
}

.intro__name {
  border-bottom: 4px solid var(--clr-primary);
}

.intro__paragraph {
  margin-bottom: 1.5rem;

  font-size: var(--fs-reg);
  line-height: var(--line-height-reg);
  color: var(--clr-text-semilight);
}

@media screen and (min-width: 768px) {
  .intro__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: end;

    height: 37.5rem;
    padding-right: 0;
  }

  .intro__profile-picture {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }

  .intro__profile-img {
    width: 20rem;
    height: 37.5rem;
  }

  .intro__text {
    max-width: 27.8rem;
    text-align: left;
  }

  .intro__heading {
    margin-bottom: 4rem;
  }

  .intro__heading br {
    display: inline;
  }

  .intro__paragraph {
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 1150px) {
  .intro__container {
    align-items: center;
    height: 45rem;
  }

  .intro__profile-img {
    width: 27.8rem;
    height: 45rem;
  }

  .intro__text {
    position: relative;
    top: 2rem;
    max-width: 710px;
  }

  .intro__heading br {
    display: none;
  }

  .intro__name {
    border-bottom: 6px solid var(--clr-primary);
  }

  .intro__paragraph {
    max-width: 27.8rem;
    margin-bottom: 4rem;
  }
}
